.skill {
  border-radius: 3px;
  padding: 5px 8px;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
}
.html {
    color: #fff;
    background-color: #e44d26;
}
.html-button {
  color: #e44d26;
  border-color: #e44d26;
}
.css {
    color: #fff;
    background-color: #0170ba;
}
.css-button {
  color: #0170ba;
  border-color: #0170ba;
}
.sass {
    color: #fff;
    background-color: #c6538c;
}
.sass-button {
  color: #c6538c;
  border-color: #c6538c;
}
.react {
    color: #fff;
    background-color: #61dafb;
}
.react-button {
  color: #61dafb;
  border-color: #61dafb;
}
.js {
    color: #000;
    background-color: #f0db4f;
}
.js-button {
  color: #f0db4f;
  border-color: #f0db4f;
}
.jquery {
    color: #fff;
    background-color: #0769ad;
}
.jquery-button {
  color: #0769ad;
  border-color: #0769ad;
}
.bootstrap {
  color: #fff;
  background-color: #7952b3;
}
.bootstrap-button {
  color: #7952b3;
  border-color: #7952b3;
}
.php {
  color: #fff;
  background-color: #8892BF;
}
.php-button {
  color: #8892BF;
  border-color: #8892BF;
}
