//** CSS **//
/* change the whole theme of the website */

// import font
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,700,800');
$font-family: "Montserrat", sans-serif;
$font-size: 22px;

// colors
$bg-color: #333;
$font-color: #bbb;
$primary: #d2a92c;
$link-color: #fff;
